<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">Username</th>
            <td>{{userData.username}}</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>{{userData.name}}</td>
        </tr>
        <tr>
            <th scope="row">Telephone</th>
            <td>{{userData.tel}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="#home"><button type="button" class="btn btn-danger" (click)="logOut()">Logout</button></a>               
            </td>
        </tr>
    </tbody>
</table>